extends ../layout

block content
    div(class='card mt-2 bg-light')
        h1(class='card-header')= title
    div(class='card-body')
        for product in data.list
            div(class = 'card-header')
                div(class='row')
                    div(class='col')
                        span= product.name
                    div(class='col offset-md-4')
                        form(action="/product/cart" method='POST')
                            input(type='hidden' id= 'id' name='id' value=product._id)
                            button(type='submit' class='btn btn-warning' id='add-button' name=product.name onclick='addCart("' + product._id + '");') Add to cart
            div(class = 'card-body')
                div(class = 'row')
                    div(class = 'col')
                        img(src='/img/'+product.img , alt=product.img)
                    div(class = 'col')
                            ul(class='list-group')
                                li(class='list-group-item') #{product.description}
                                li(class='list-group-item') In stock : #{product.quantity}
                                li(class='list-group-item') $ #{product.price}
    script(type='text/javascript' src='/scripts/list.js')