extends ../layout

block content
    div(class='card mt-2 bg-light')
        div(class='row')
            div(class = 'col')
                h2= title 
            div(class = 'col')
                a(href="/product/create" class='btn btn-success') Create New Product
    div(class='card-body')
        for product in products
            div(class = 'card-header')
                div(class='row')
                    div(class='col-md-4')
                        span= product.name
                    div(class='col-4 offset-md-4')
                        if(user.isAdmin)
                            form(action="/product/list" method='POST')
                                input(type='hidden' name='id' value=product._id)
                                button(class='btn btn-warning' name=product.name) Add to list
                        if(!user.isAdmin)
                            form(action="/product/cart" method='POST')
                                input(type='hidden' name='id' value=product._id)
                                button(class='btn btn-warning' name=product.name) Add to cart
            div(class = 'card-body')
                div(class = 'row flex-row')
                    div(class = 'col-3')
                        img(src='/img/'+product.img , alt=product.img)
                    div(class = 'col-9')
                        div
                            ul(class='list-group')
                                li(class='list-group-item') #{product.description}
                                li(class='list-group-item') In stock : #{product.quantity}
                                if(!user.isAdmin)
                                    li(class='list-group-item') $ #{product.price}    